.App-header {
  width: 100%;
  background: #70cc70; /* fallback for old browsers */
  background: linear-gradient(to left, #ffeecc, #f4ffd0);
  box-shadow: 0 8px 6px -6px black;
}

.App-logo {
  height: 50px;
  margin-left: 0.8rem;
  margin-top: 0.3rem;
}

.App-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.App-title {
  font-family: 'Amatica SC', sans-serif;
  font-size: 25px;
}

.searchBox {
  width: 100px;
  height: 25px;
  border: 0;
  border-bottom: 1px solid grey;
}

@media screen and (max-width: 400px) {
  .searchBox {
    width: 100%;
  }
}

.searchBox:focus {
  outline: none;
}
