.App-header {
  width: 100%;
  font-family: 'Amatica SC', sans-serif;
  font-size: 16px;
  background: #bfb; /* fallback for old browsers */
  background: linear-gradient(to left, #fff, #bfb);
  box-shadow: 0 8px 6px -6px black;
}

.App-logo {
  height: 50px;
  margin-left: 0.8rem;
  margin-top: 0.3rem;
}

.App-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.App-title {
  margin: 0;
  position: absolute;
  left: 90px;
  top: 10px;
}

.searchBox {
  width: 100px;
  height: 25px;
  border: 0;
  border-bottom: 1px solid grey;
}

.searchBox:focus {
  outline: none;
}
