<!doctype html>
<html>
  <head>
    <title>dzwiekowaMapa.pl</title>
    <link href="/styles.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="react-main-mount">
      <%- reactOutput %>
    </div>
	<script src="/main.min.js"></script>
  </body>
</html>
