.SoundInfo {
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 1;
  width: 350px;
  height: 75px;
  overflow: auto;
  background-color: white;
  padding: 10px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 11px;
  background-color: #ffffdd;
  background: linear-gradient(to left, #ffeecc, #fff1d1);
  box-shadow: 0 8px 6px -6px black;
}

.SoundInfo p {
  margin: 2px;
  border-bottom: 1px dotted lightGrey;
}

.long {
  width: calc(100% - 20px)
}

.hide {
  display: none;
}

@media screen and (max-width: 640px) {
  .SoundInfo {
    right: 0px;
    width: calc(100% - 20px);
  }
}
