.SoundInfo {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 1;
  max-width: 400px;
  max-height: 150px;
  overflow: auto;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 12px;
}
