.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  float: left;
}

.App-header {
  font-family: 'Amatica SC', sans-serif;
  font-size: 16px;
  background: #F1F2B5; /* fallback for old browsers */
  background: linear-gradient(to left, #F1F2B5 , #138058);
  height: 80px;
  padding: 10px;
  color: white;
  text-align: left;
  box-shadow: 0 8px 6px -6px black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
