.player {
  min-width: 305px;
  width: 100%;
  margin-left: 10px;
  font-family: 'Yantramanav', sans-serif;
}

.player-button {
  margin-left: 2px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  width: 35px;
  height: 35px;
  outline-width: 0;
}

.player-button svg {
  margin-left: 1px;
  margin-top: 3px;
}

.player-userInfo {
  width: 175px;
  font-size: 12px;
}

.player-timer {
  font-size: 13px;
}

.player-progress {
  margin-top: 40px;
  border: 0;
  background: #666;
  height: 8px;
}

.inner {
  border: 0;
  background: orange;
  height: 8px;
}

@media screen and (max-width: 640px) {
  .player {
    max-width: calc(100% - 66px;)
  }
}
