.player {
  width: 400px;
  margin-top: 5px;
  font-family: 'Yantramanav', sans-serif;
}

@media screen and (max-width: 640px) {
    .player {
      float:left;
      margin-left: 10px;
      width: calc(100% - 80px);
    }
}

.player-button {
  margin-left: 2px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  width: 35px;
  height: 35px;
  outline-width: 0;
}

.player-button svg {
  margin-left: 1px;
  margin-top: 2px;
}

.player-userInfo {
  display: inline-block;
  position: relative;
  top: 5px;
  padding-left: 10px;
  width: 200px;
  font-size: 12px;
}

.player-timer {
  display: inline;
  vertical-align: middle;
  font-size: 15px;
}

.player-progress {
  border: 0;
  margin-top: 1px;
  background: #666;
  height: 4px;
}

.inner {
  border: 0;
  background: orange;
  height: 4px;
}
