.player {
  width: 100%;
  position: relative;
  top: -38px;
}

.player-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(0, 0, 0, 0);
  width: 25px;
  height: 25px;
  outline-width: 0;
  margin-left: 15px;
}

.player-button svg {
  color: white;
  transform: scale(0.8);
}

.player-timer {
  display: inline;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
}

.player-progress {
  border: 0;
  background: #666;
  height: 5px;
  margin-top: 10px;
}

.inner {
  border: 0;
  background: orange;
  height: 5px;
}
