.Lista-main {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 500px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 12px;
  text-align: left;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 75px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #ffffe9;
}

.Lista-Item {
  cursor: pointer;
  border-bottom: 1px dotted grey;
  margin-top: 5px;
  margin-left: 5px;
}

.Lista-Item-Avatar {
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  border: 2px solid #000;
}

.Lista-Item-Avatar:hover {
  border: 4px solid #ff9900;
  margin: -2px;
}

.Lista-userInfo {
  display: inline-block;
  padding-left: 10px;
  position: relative;
  bottom: 8px;
}

#user {
  cursor: pointer;
  color: #ccc;
}

#user:hover {
  text-decoration: underline;
  color: black;
}

#title {
  cursor: pointer;
  color: #999;
}

#title:hover{
  text-decoration: underline;
  color: black;
}
