.Lista-main {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 350px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 65px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media screen and (max-width: 640px) {
    .Lista-main {
      width: 100%
    }
}

.Lista-Item {
  cursor: pointer;
  border-bottom: 1px dotted grey;
  margin-top: 0px;
  margin-left: 0px;
}

.Lista-Item:hover {
  background: #f1f1f1;
}

.Item-seleted {
  background: #f1f1f1;
}

.Lista-Item-Avatar {
  margin-top: 5px;
  margin-left: 5px;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  border: 2px solid #000;
}

.Lista-Item-Avatar:hover {
  border: 4px solid #ff9900;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: -2px;
  margin-right: -2px;
}

.Lista-userInfo {
  display: inline-block;
  position: relative;
  bottom: 5px;
  padding-left: 10px;
  width: 250px;
}

#user {
  cursor: pointer;
  color: #bbc;
}

#user:hover {
  text-decoration: underline;
  color: black;
}

#title {
  cursor: pointer;
  color: #999;
}

#title:hover{
  text-decoration: underline;
  color: black;
}
